<div class="footer">
  <div class="tree-view-link" (click)="goToTreeView()">
    <i class="fa fa-sitemap"></i>
  </div>
  <div class="message-zone">
  <textarea #messageContentContainer
            placeholder="Message..."
            [(ngModel)]="message.content"
            (keydown)="handleSubmit($event)"
  ></textarea>
    <div class="send-message">
      <i class="fa fa-caret-right" ng-click="sendMessage()"></i>
    </div>
  </div>
  <div class="more" (click)="addFile.click()">
    <input #addFile type="file" [hidden]="true">
    <i class="fa fa-plus"></i>
  </div>
</div>
